name: Hellow World

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    hello-world:
        runs-on: ubuntu-latest
        steps: 
            - name: Hellow World
              run: echo "Hellow World"
            


        