name: PR Validation
on:
  pull_request:
    branches:
      - main

jobs:
    validate-html:
        name: Validate HTML
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.x'

            - name: Install html5validator
              run: pip install html5validator
              
            - name: Validate HTML files
              run: html5validator --root . --ignore "css/bootstrap.min.css" "js/bootstrap.bundle.min.js"