name: PR Validation
on:
  pull_request:
    branches:
      - main

jobs:
    validate-html:
        name: Validate HTML
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.x'

            - name: Install html5validator
              run: pip install html5validator
              
            - name: Validate HTML files
              run: html5validator --root . --ignore "css/bootstrap.min.css" "js/bootstrap.bundle.min.js"
    
    security-analysis:
        name: Security Scanning
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: Run Gitleaks
              uses: gitleaks/gitleaks-action@v2
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            
            - name: Run Trivy vulnerability scanner
              uses: aquasecurity/trivy-action@master
              with:
                scan-type: 'fs'
                scan-ref: '.'
                format: 'sarif'
                output: 'trivy-results.sarif'

            - name: Upload Trivy scan results to GitHub Security tab
              uses: github/codeql-action/upload-sarif@v3
              if: always()
              with:
                sarif_file: 'trivy-results.sarif'           
    check-links:
        name: Check Broken Links
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Restore lychee cache
              uses: actions/cache@v4
              with:
                  path: .lycheecache
                  key: cache-lychee-${{ github.sha }}
                  restore-keys: cache-lychee-

            - name: Link Checker
              uses: lycheeverse/lychee-action@v2
              with:
                  args: --verbose --no-progress --accept 200,201,202,203,204,999 './**/*.html'
                  fail: true
              env:
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

            - name: Create Issue From File
              if: failure()
              uses: peter-evans/create-issue-from-file@v5
              with:
                  title: 'Broken links detected'
                  content-filepath: ./lychee/out.md
                  labbels: bug, documentation